<h1>Sign up</h1>

<div class="row">
  <div class="span3 offset3">
    <%= form_for(@user) do |f| %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render '/shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "New Account", class: "btn btn-large btn-primary", tag: "New" %>
      <%= f.submit "Log In", class: "btn btn-large btn-primary", tag: "Log in" %>
    <% end %>
  </div>
</div>